ul {
  list-style-type:none;
  padding-left: 0px;
}

li{
  display: inline-block;
}

body{
  background: url("../images/background_guitar.png");
  background-repeat: no-repeat;
  background-position-y: -940px;
  background-position-x: -712px;
  background-size: 200%;
}

.col-xs-6{
  margin: none;
  padding: 0px 0px;
}

.col-xs-2{
  margin: none;
  padding: 0px 0px;
}

.note{
  width:50px;
  height:50px;
  border-radius: 50%;
  /* margin-right:100px; */
  margin: auto 2.6%;
  text-align: center;
  font-size: 30px;
}

.noteLine{
  border: 1px solid black;
}

.pushed{
  opacity: 0.5;
}

.red{}
.yellow{}
.green{}
.blue{}
.purple{}

.hit{}
.hold{}

.redNote{
  background: red;
  margin-left: 2%;
  position: absolute;
}

.yellowNote{
  background: yellow;
  margin-left: 21%;
  position:absolute;
}

.greenNote{
  background: green;
  margin-left: 40%;
  position: absolute;
}

.blueNote{
  background: blue;
  margin-left: 59%;
  position:absolute;
}

.purpleNote{
  background: purple;
  margin-left: 77%;
  position: absolute;
}

#red{
  /* border:1px solid red; */
  background: red;
}

#yellow{
  /* border:1px solid yellow; */
  background: yellow;
}

#green{
  /* border:1px solid green; */
  background: green;
}

#blue{
  /* border:1px solid blue; */
  background: blue;
}

#purple{
  /* border:1px solid purple; */
  background: purple;
}

#zone{
  /* background: pink; */
  height: 100px;
}

#notefall{
  /* background: grey; */
  height: 600px;
}

#score{
  font-size: 32px;
  margin-top: 145%;
  text-align: right;
  margin-right: 10%;
  color: white;
}

#instructions{
  margin-top: 20%;
  margin-left: 10%;
  padding: none;
}
