ul {
  list-style-type:none;
  padding-left: 0px;
}

li{
  display: inline-block;
}

.col-xs-6{
  margin: none;
  padding: 0px 0px;
}

.note{
  width:50px;
  height:50px;
  border-radius: 50%;
  /* margin-right:100px; */
  margin: auto 7.5%;
}

.noteLine{
  border: 1px solid black;
}

.pushed{
  opacity: 0.5;
}

.red{}
.yellow{}
.green{}
.blue{}
.purple{}

.hit{}
.hold{}

.redNote{
  background: red;
  margin-left: 50px;
  position: absolute;
}

.yellowNote{
  background: yellow;
  margin-left: 150px;
  position:absolute;
}

.greenNote{
  background: green;
  margin-left: 350px;
  position: absolute;
}

.blueNote{
  background: blue;
  margin-left: 350px;
  position:absolute;
}

.purpleNote{
  background: purple;
  margin-left: 450px;
  position: absolute;
}

#red{
  /* border:1px solid red; */
  background: red;
}

#yellow{
  /* border:1px solid yellow; */
  background: yellow;
}

#green{
  /* border:1px solid green; */
  background: green;
}

#blue{
  /* border:1px solid blue; */
  background: blue;
}

#purple{
  /* border:1px solid purple; */
  background: purple;
}

#zone{
  background: pink;
  height: 100px;
}

#notefall{
  background: grey;
  height: 600px;
}
