ul {
  list-style-type:none;
  padding-left: 0px;
}

li{
  display: inline-block;
}

.note{
  width:100px;
  height:100px;
  border-radius: 50%;
  margin-right:50px;
}

.noteLine{
  border: 1px solid black;
}

.pushed{
  opacity: 0.5;
}

#newline{
  border-bottom: 1px solid black;
}

#red{
  background: red;
}

#yellow{
  background: yellow;
}

#green{
  background: green;
}

#blue{
  background: blue;
}

#purple{
  background: purple;
}

#zone{
  background: pink;
  height: 50px;
}

#notefall{
  background: grey;
  height: 350px;
}

#demomove{
  width:40px;
}
